h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 30px
  }

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 15px!important;
  margin-left: 10px
}

#dept-btn {
  background-color: rgba(216, 112, 147, 0.8);
  color:whitesmoke;
  font-weight: bold;
  font-size: 15px;
  width: 225px;
}
